.map-page{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.map{
   
    border: 1px black solid;

}
.number-list{
    display: flex;
    flex-direction: column;
  
    margin-left:200px;
 
}
svg{
   
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 200px;
    background-color: rgb(132, 234, 240, .5) 
}